body, html {
    height: 100%;
    padding: 0px;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
  }
  .conteiner{
        display:flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url("../Images/fundo2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }
  .image {
    background-image: url("../Images/fundo2.jpg");
    height: 500px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .divform{
      margin:50px;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  
  .content {
    height: 400px;
    width: 500px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    color: #cdcdcd;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 5px 30px #0f0f0f;
  }
  .form{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .gif img{
      border-radius: 50%;
      margin-top: 20px;
      width:150px;
      height: 130px;
      filter: grayscale(100%);
  }
  .frases{
      margin:0;
      padding:0px;
      text-align: start;
      align-self: flex-start;
  }
  .frases h1{
     font-size: 30px; 
     margin:0;
  }
  .frases p{
      margin-top: 5px;
      font-size: 17px;
  }
  .gif img:hover{
      filter: grayscale(0%);
  }
  .input_texto{
   margin:10px;
   align-self: flex-start;
   padding: 10px;   
   border-radius: 10px;
   color: #cdcdcd;
   background-color: rgba(0,0,0, 0.4);
   border: none;
   width:400px;
  }
.input_texto:focus{
    outline: 0;
    background-color: rgba(0,0,0, 0.9);
    transition:0.5s;
}
.rele{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
#botoes{
    display: flex;
}
.button{
    margin:20px;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 10px;
    box-shadow: 10px 5px 30px #0f0f0f;
    border: none;
    color: #cdcdcd;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0, 0.9);
    transition:0.5s;
}
a{
    text-decoration: none;
    color: #cdcdcd;
}
a:hover{
    text-decoration: underline;
}
.copy{
    background-color: rgba(0,0,0, 0.4);
    border-radius: 7px 7px 0% 0%;
    width:100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    color:#cdcdcd
}
.copy p{
    margin:2px;
    padding:5px;
}
@media screen and (max-width: 600px) {
    .content {
        height: 400px;
        width: 300px;
    }
    .input_texto{
        width: 200px;
    }
    .frases{
        margin:0;
        padding:0px;
        text-align: center;
        align-self: center;
    }
    .frases h1{
       font-size: 20px; 
       margin:0;
    }
    .frases p{
        margin-top: 5px;
        font-size: 12px;
    }
    .copy p{
        font-size: 12px;
    }
    .conteiner{
        width: 100%;
        height: 100%;
    }
    .button{
        margin:10px;
        padding: 5px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }
    .rele{
        display: flex;
        justify-content:space-between;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
    }
    .rele a{
        margin-top: 5px;
    }
  }